In [16]:
import pandas as pd

In [17]:
url = "https://en.wikipedia.org/wiki/Regions_of_England"

In [18]:
df = pd.read_html(url)

In [19]:
df

[    0                                                  1
 0 NaN  This article needs to be updated. Please updat...,
               Region                                           Region.1
 0                NaN                                                NaN
 1           Category      Statistical regions Administrative region (1)
 2           Location                                            England
 3            Created                                               1994
 4             Number                                                  9
 5  Additional status                 NUTS 1 regionEuropean constituency
 6        Populations                                2,669,941–9,180,135
 7              Areas                                   1,572–23,836 km²
 8         Government  Local authority leaders' board (6)Elected asse...
 9       Subdivisions  Non-metropolitan county (25)Metropolitan count...,
                                                                   England
   The Crown Monarch: Elizabeth II Heir Apparent: Charles, Prince of Wales
 0  Governance Queen-in-Council: Elizabeth II Prim...
 1  Legislative Queen-in-Parliament: Elizabeth II ...
 2  ElectionsUK General Elections in England  *180...
 3  Judiciary Queen-on-the-Bench: Elizabeth II Sup...
 4  Regions East of England London East Midlands W...
 5  Administration History Subdivisions Historic C...
 6                     England portal Other countries                     ,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
                    Name[29]  Population [30] % change from previous year [30]  \
 0                South East          9180135                           +0.51%
 1                    London          8961989                           +0.61%
 2                North West          7341196                           +0.67%
 3           East of England          6236072                           +0.56%
 4             West Midlands          5934037                           +0.56%
 5                South West          5624696                           +0.45%
 6  Yorkshire and the Humber          5502967                           +0.43%
 7             East Midlands          4835928                           +0.66%
 8                North East          2669941                           +0.45%
 9                   England         56286961                           +0.55%

                    Area [30]   Populationdensity [30]  \
 0    19,072 km2(7,364 sq mi)     481/km2(1,250/sq mi)
 1       1,572 km2(607 sq mi)  5,701/km2(14,770/sq mi)
 2    14,108 km2(5,447 sq mi)     520/km2(1,300/sq mi)
 3    19,116 km2(7,381 sq mi)       326/km2(840/sq mi)
 4    12,998 km2(5,019 sq mi)     457/km2(1,180/sq mi)
 5    23,836 km2(9,203 sq mi)       236/km2(610/sq mi)
 6    15,405 km2(5,948 sq mi)       357/km2(920/sq mi)
 7    15,625 km2(6,033 sq mi)       309/km2(800/sq mi)
 8     8,579 km2(3,312 sq mi)       311/km2(810/sq mi)
 9  130,311 km2(50,313 sq mi)     432/km2(1,120/sq mi)

    Median gross annualearnings (£) 2019[31]  \
 0                                     32120
 1                                     38992
 2                                     28137
 3                                     30345
 4                                     28536
 5                                     28654
 6                                     27835
 7                                     28000
 8                                     27187
 9                                     30667

   % of population claiming Income Support or JSA (August 2012)  \
 0                                               3.0%
 1                                               5.3%
 2                                               5.3%
 3                                               3.5%
 4                                               5.1%
 5                                               3.3%
 6                                               5.2%
 7                                               4.2%
 8                                               6.1%
 9                                              4.45%

   % as at August 2001   Largest urban area
 0                5.4%      South Hampshire
 1               10.1%               London
 2               10.4%           Manchester
 3                6.2%              Norwich
 4                9.2%           Birmingham
 5                6.8%              Bristol
 6                9.3%                Leeds
 7                7.7%           Nottingham
 8               11.6%  Newcastle upon Tyne
 9           8.32%[32]               London  ,
                                vteRegions of England  \
 0  East of England East Midlands London North Eas...

                              vteRegions of England.1
 0  East of England East Midlands London North Eas...  ,
   vteAdministrative geography of the United Kingdom  \
 0                   United Kingdom local government
 1                          England local government
 2                 Northern Ireland local government
 3                         Scotland local government
 4                            Wales local government

   vteAdministrative geography of the United Kingdom.1
 0  History Subdivisions: Shrievalties Lieutenancy...
 1  History Subdivisions: Regions Ceremonial count...
 2           History Subdivisions: Counties Districts
 3  History Subdivisions: Sheriffdoms Lieutenancy ...
 4  History Subdivisions: Preserved counties Princ...   ,
   vte Subdivisions of England  \
 0                      Region
 1           Ceremonial County
 2       Administrative County
 3                    District
 4           Unitary Authority
 5                 Sui-Generis
 6                Civil Parish

                        vte Subdivisions of England.1
 0      Regions NUTS 1 statistical regions of England
 1                                  Ceremonial County
 2  Metropolitan County Non-Metropolitan County Gr...
 3  Metropolitan Borough Non-Metropolitan District...
 4                                  Unitary Authority
 5                     City of London Isles of Scilly
 6                                       Civil parish  ]

In [20]:
dft = df[4]
dft

,Name[29],Population [30],% change from previous year [30],Area [30],Populationdensity [30],Median gross annualearnings (£) 2019[31],% of population claiming Income Support or JSA (August 2012),% as at August 2001,Largest urban area
0,South East,9180135,+0.51%,"19,072 km2(7,364 sq mi)","481/km2(1,250/sq mi)",32120,3.0%,5.4%,South Hampshire
1,London,8961989,+0.61%,"1,572 km2(607 sq mi)","5,701/km2(14,770/sq mi)",38992,5.3%,10.1%,London
2,North West,7341196,+0.67%,"14,108 km2(5,447 sq mi)","520/km2(1,300/sq mi)",28137,5.3%,10.4%,Manchester
3,East of England,6236072,+0.56%,"19,116 km2(7,381 sq mi)",326/km2(840/sq mi),30345,3.5%,6.2%,Norwich
4,West Midlands,5934037,+0.56%,"12,998 km2(5,019 sq mi)","457/km2(1,180/sq mi)",28536,5.1%,9.2%,Birmingham
5,South West,5624696,+0.45%,"23,836 km2(9,203 sq mi)",236/km2(610/sq mi),28654,3.3%,6.8%,Bristol
6,Yorkshire and the Humber,5502967,+0.43%,"15,405 km2(5,948 sq mi)",357/km2(920/sq mi),27835,5.2%,9.3%,Leeds
7,East Midlands,4835928,+0.66%,"15,625 km2(6,033 sq mi)",309/km2(800/sq mi),28000,4.2%,7.7%,Nottingham
8,North East,2669941,+0.45%,"8,579 km2(3,312 sq mi)",311/km2(810/sq mi),27187,6.1%,11.6%,Newcastle upon Tyne
9,England,56286961,+0.55%,"130,311 km2(50,313 sq mi)","432/km2(1,120/sq mi)",30667,4.45%,8.32%[32],London

In [21]:
dft['Attr'] = dft["NUTS-3.1"].str.extract(r"\((.*?)\)", expand=False) # Create new column and keep only what is in the parentheses

KeyError: 'NUTS-3.1'

In [ ]:
reg = list(dft["Name[29]"])

In [22]:
reg

['South East',
 'London',
 'North West',
 'East of England',
 'West Midlands',
 'South West',
 'Yorkshire and the Humber',
 'East Midlands',
 'North East']

In [23]:
#cleanedList = [x[x.find("(")+1:x.find(")")] for x in reg if str(x) != 'nan'] #Keep only text in parentheses

In [24]:
#cleanedList = [str(s).split(' ', 1)[1] for s in reg] # Delete the first word of each string

In [25]:
#cleanedList = [x for x in reg if str(x) != 'nan'] # Delete all Null(nan) values

In [26]:
cleanedList = [x.replace(" Province", "") for x in reg]

In [27]:
cleanedList

['South East',
 'London',
 'North West',
 'East of England',
 'West Midlands',
 'South West',
 'Yorkshire and the Humber',
 'East Midlands',
 'North East']

In [28]:
del reg[-1]

In [29]:
reg

['South East',
 'London',
 'North West',
 'East of England',
 'West Midlands',
 'South West',
 'Yorkshire and the Humber',
 'East Midlands']

In [58]:
len(reg)

13

In [59]:
del reg[5]

In [60]:
reg

['Antwerpen',
 'Ostflandern',
 'Flämisch-Brabant',
 'Limburg',
 'Westflandern',
 'Hennegau',
 'Lüttich',
 'Luxemburg',
 'Namür',
 'Waals-Brabant',
 'Brussels Capital Region',
 'Region Brüssel-Hauptstadt']

In [61]:
del reg[-2]

In [62]:
reg

['Antwerpen',
 'Ostflandern',
 'Flämisch-Brabant',
 'Limburg',
 'Westflandern',
 'Hennegau',
 'Lüttich',
 'Luxemburg',
 'Namür',
 'Waals-Brabant',
 'Region Brüssel-Hauptstadt']